<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <a href="/addStudent">Add</a>&nbsp;
    <table style="border: 3px solid black">
        <tr style="border: 3px solid black">
            <th style="border: 3px solid black">Name</th>
            <th style="border: 3px solid black">Age</th>
            <th style="border: 3px solid black">City</th>
        </tr>
            <% StudentData.forEach((s) => { %>
                <tr style="border: 3px solid black">
               <td style="border: 3px solid black"><%=s.name%></td>
               <td style="border: 3px solid black"><%=s.age%></td> 
               <td style="border: 3px solid black"><%=s.city%></td>
               <td><a href="/deleteStudent/<%= s._id %>">Delete</a></td>
               <td><a href="/editStudent/<%= s._id %>">Edit</a></td>
            <% }) %>
        </tr>
        <a href="/logout">Logout</a>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>